<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/templates/css/home.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100%;
            background: url('{{ url_for('static', filename='/images/fundo_login.jpg') }}') no-repeat center center fixed;
            background-size: cover;
        }


    </style>
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="/home"><img src="{{ url_for('static', filename='/images/icones/inicio.png') }}" alt="">Inicio</a></li>
            <li><a href="#"><img src="{{ url_for('static', filename='/images/icones/sas.png') }}" alt="">SAS</a></li>
            <li><a href="#"><img src="{{ url_for('static', filename='/images/icones/sms.png') }}" alt="">SMS</a></li>
            <li><a href="#"><img src="{{ url_for('static', filename='/images/icones/push.png') }}" alt="">PUHS</a></li>
            <li><a href="#"><img src="{{ url_for('static', filename='/images/icones/email.png') }}" alt="">HTML</a></li>
            <li><a href="#"><img src="{{ url_for('static', filename='/images/icones/rcs.png') }}" alt="">RCS</a></li>
            <li><a href="/logout"><img src="{{ url_for('static', filename='/images/icones/sair.png') }}" alt="">Logout</a></li>
        </ul>
    </div>

    <div class="central-container">
        <div class="user-info">
            <h2>Informações do Usuário</h2>
            <p><span>Nome:</span> {{ nome }}</p>
            <p><span>Email:</span> {{ email }}</p>
            <p><span>Contato:</span> {{ contato }}</p>
            <p><span>Nível:</span> {{ niveldesc }}</p>
        </div>
    </div>
</body>
</html>
