<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/templates/css/home.css">
    <link rel="stylesheet" href="/templates/css/sas.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100%;
            background: url('{{ url_for('static', filename='/images/fundo_login.jpg') }}') no-repeat center center fixed;
            background-size: cover;
        }


    </style>
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="/home"><img src="{{ url_for('static', filename='/images/icones/inicio.png') }}" alt="">Inicio</a></li>
            {% if nivel == 2 or nivel == 4 or nivel == 5 %}
                <li>
                    <a href="/sas"><img src="{{ url_for('static', filename='/images/icones/sas.png') }}" alt="">SAS</a>
                </li>
            {% endif %}
            <li><a href="/sms"><img src="{{ url_for('static', filename='/images/icones/sms.png') }}" alt="">SMS</a></li>
            <li><a href="/push"><img src="{{ url_for('static', filename='/images/icones/push.png') }}" alt="">PUHS</a></li>
            <li><a href="/html"><img src="{{ url_for('static', filename='/images/icones/email.png') }}" alt="">HTML</a></li>
            <li><a href="/rcs"><img src="{{ url_for('static', filename='/images/icones/rcs.png') }}" alt="">RCS</a></li>
            <li><a href="/logout"><img src="{{ url_for('static', filename='/images/icones/sair.png') }}" alt="">Logout</a></li>
        </ul>
    </div>

    <div class="central-container">
        <div class="user-info">
            <h2>Pagina SAS</h2>
            <!-- Formulário para enviar o texto -->
            <form action="{{ url_for('processar_texto') }}" method="POST">
                <label for="multiline-input">Digite o nome da OS:</label><br>
                <textarea id="multiline-input" name="input_text" rows="10" cols="30" ></textarea><br><br>
                <button type="submit">Enviar</button>
            </form>
            <br>
            {% if linhas_processadas %}
            <h3>Resultado:</h3>
            <label for="output-text">Resultado:</label><br>
            <textarea id="output-text" rows="10" cols="30" readonly>{{ linhas_processadas }}</textarea>
            {% endif %}
        </div>
    </div>
</body>
</html>
