        /* Estilos Gerais */
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
			background: url('{{ url_for('static', filename='../templates/images/fundo_login.jpg') }}') no-repeat center center fixed;
			background-size: cover;
        }

        .login-container {
            width: 300px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 8px;
            color: #555;
        }

        input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .message-list {
            list-style-type: none;
            padding: 0;
            margin-bottom: 15px;
        }

        .message-list li {
            margin-bottom: 5px;
        }

        .message-list .error {
            color: red;
        }

        .message-list .success {
            color: green;
        }